.cadastrar-aviso {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px;
    width: 370px;
    min-height: 645px;
    border-radius: 8px;
    background-color: var(--neutro-claro-10);
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.cadastrar-aviso h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--marron-escuro-10);
}

.cadastrar-aviso .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

}

.cadastrar-aviso .form-group label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--marron-escuro-10);
}


.cadastrar-aviso .form-group input {
    padding: 12px;
    border: 1px solid var(--marrom-escuro-10);
    border-radius: 4px;
    font-size: 16px;
    color: var(--marron-escuro-10);
    outline: none;
}

.cadastrar-aviso .form-group textarea {
    outline: none;
    padding: 10px;
    width: 100%;
    background-color: var(--neutro-claro-100);
    border: 1px solid var(--marrom-escuro-10);
    border-radius: 4px;
    font-size: 16px;

}




.cadastrar-aviso button {
    background-color: var(--marrom-escuro-10);
    color: var(--neutro-claro-100);
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.cadastrar-aviso button:hover {
    background-color: var(--marrom-escuro-30);
    cursor: pointer;
}



.cadastrar-aviso .voltar {
    background-color: transparent;
    color: var(--marrom-escuro-10);
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    height: 45px;
    border: 1px solid var(--marrom-escuro-10);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cadastrar-aviso .voltar:hover {
    background-color: var(--bronze-claro-80);
    cursor: pointer;
}