@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Cores Marrom */
  --marrom-10: #a67c58;
  --marrom-20: #95704f;
  --marrom-30: #856346;
  --marrom-40: #74573e;
  --marrom-50: #644a35;
  --marrom-60: #533e2c;
  --marrom-70: #423223;
  --marrom-80: #32251a;
  --marrom-90: #211912;
  --marrom-95: #110c09;
  --marrom-100: #000000;

  /* Cores Bege */
  --bege-10: #a67c58;
  --bege-20: #af8969;
  --bege-30: #b89679;
  --bege-40: #c1a38a;
  --bege-50: #cab09b;
  --bege-60: #d3beac;
  --bege-70: #dbcbbc;
  --bege-80: #e4d8cd;
  --bege-90: #ede5de;
  --bege-95: #f6f2ee;
  --bege-100: #ffffff;

  /* Cores Bronze */
  --bronze-10: #73482f;
  --bronze-20: #68412a;
  --bronze-30: #5c3a26;
  --bronze-40: #513221;
  --bronze-50: #452b1c;
  --bronze-60: #3a2418;
  --bronze-70: #2e1d13;
  --bronze-80: #22160e;
  --bronze-90: #170e09;
  --bronze-95: #0b0705;
  --bronze-100: #000000;

  /* Cores Bronze Claro */
  --bronze-claro-10: #73482f;
  --bronze-claro-20: #815a44;
  --bronze-claro-30: #8f6d59;
  --bronze-claro-40: #9d7f6d;
  --bronze-claro-50: #ab9182;
  --bronze-claro-60: #b9a497;
  --bronze-claro-70: #c7b6ac;
  --bronze-claro-80: #d5c8c1;
  --bronze-claro-90: #e3dad5;
  --bronze-claro-95: #f1edea;
  --bronze-claro-100: #ffffff;

  /* Cores Neutro */
  --neutro-10: #d9bfb0;
  --neutro-20: #c3ac9e;
  --neutro-30: #ae998d;
  --neutro-40: #98867b;
  --neutro-50: #82736a;
  --neutro-60: #6d6058;
  --neutro-70: #574c46;
  --neutro-80: #413935;
  --neutro-90: #2b2623;
  --neutro-95: #161312;
  --neutro-100: #000000;

  /* Cores Neutro Claro */
  --neutro-claro-10: #d9bfb0;
  --neutro-claro-20: #ddc5b8;
  --neutro-claro-30: #e1ccc0;
  --neutro-claro-40: #e4d2c8;
  --neutro-claro-50: #e8d9d0;
  --neutro-claro-60: #ecdfd8;
  --neutro-claro-70: #f0e5df;
  --neutro-claro-80: #f4ece7;
  --neutro-claro-90: #f7f2ef;
  --neutro-claro-95: #fbf9f7;
  --neutro-claro-100: #ffffff;

  /* Cores Marrom Escuro */
  --marrom-escuro-10: #402d29;
  --marrom-escuro-20: #3a2925;
  --marrom-escuro-30: #332421;
  --marrom-escuro-40: #2d1f1d;
  --marrom-escuro-50: #261b19;
  --marrom-escuro-60: #201715;
  --marrom-escuro-70: #1a1210;
  --marrom-escuro-80: #130d0c;
  --marrom-escuro-90: #0d0908;
  --marrom-escuro-95: #060404;
  --marrom-escuro-100: #000000;

  /* Cores Marrom Escuro Claro */
  --marrom-escuro-claro-10: #402d29;
  --marrom-escuro-claro-20: #53423e;
  --marrom-escuro-claro-30: #665754;
  --marrom-escuro-claro-40: #796c69;
  --marrom-escuro-claro-50: #8c817f;
  --marrom-escuro-claro-60: #a09694;
  --marrom-escuro-claro-70: #b3aba9;
  --marrom-escuro-claro-80: #c6c0bf;
  --marrom-escuro-claro-90: #d9d5d4;
  --marrom-escuro-claro-95: #eceaea;
  --marrom-escuro-claro-100: #ffffff;

}
/* Reset e estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


body {
  background-color: var(--neutro-claro-10);
  color: var(--marrom-escuro-10);
}
